{{> _header}}
<main class="min-h-screen relative bg-gradient top-16">
    <article class="text-white gap-5 min-h-full flex flex-col justify-center items-center">
        <h3 class="text-3xl text-white">Welcome {{firstName}} {{lastName}}</h3>
        {{#if payload}}
        <div class="mx-6 my-3 min-w-4xl">
            <ul class="list-none grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-5">
                {{#each payload}}
                <li class="rounded bg-slate-600 p-1 flex flex-col flex-wrap">
                    <p class="text-blue-300 flex flex-col items-center">{{this.title}}</p>
                    {{#if this.thumbnails.length}}
                    <img src={{this.thumbnails.[0]}} class="object-cover flex-1" alt="image of {{this.title}}">
                    {{/if}}
                    <div class="text-sm p-2 flex flex-col h-100">
                        <p class="rounded bg-slate-800 p-2">{{this.description}}</p>
                        <p>Category: {{this.category}}</p>
                        <p>Code: {{this.code}}</p>
                        <p>Stock: {{this.stock}}</p>
                        <p>Price: $ {{this.price}}</p>
                        <form class="flex flex-col gap-2" id="{{this.id}}">
                            <label for="quantity">Quantity:</label>
                            <input type="number" min="1" max="50" value="1" name="quantity" id="quantity"
                                pattern="^[1-9]|[1-4][0-9]|50$"
                                class="appearance-none block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent"
                                placeholder="Enter a number">
                            <button type="submit"
                                class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded">
                                Add to Cart
                            </button>
                        </form>
                    </div>
                </li>
                {{/each}}
            </ul>
            <div class="flex justify-center items-center mt-3 w-full">
                {{#if hasPrevPage}}
                <a href="{{prevLink}}"
                    class="bg-rose-500 hover:bg-rose-700 text-white font-bold py-2 px-4 rounded mr-4">Prev Page</a>
                {{/if}}
                <p class="text-rose-500 font-bold align-center">Page {{page}} of {{totalPages}}</p>
                {{#if hasNextPage}}
                <a href="{{nextLink}}"
                    class="ml-4 bg-rose-500 hover:bg-rose-700 text-white font-bold py-2 px-4 rounded">Next Page</a>
                {{/if}}
            </div>
        </div>
        {{else}}
        <h3 class="text-3xl text-blue-300">There's not products!</h3>
        {{/if}}
    </article>
</main>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src={{scriptPath}}></script>
<script src={{scriptPath2}}></script>